/* Login background animation */

#login_bg {
    position: relative;
    overflow: hidden;
    animation: wave 10s ease-in-out infinite;
}

@keyframes wave {
    0% {
      transform: scale(1.05);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1.05);
    }
}

/* side menu collapse animation*/

.side_menu.collapsed {
    width: 3.5em;
    transition: all 0.3s ease-in-out;
}

.side_menu.collapsed .collapsed_icon {
    transition: all 0.3s ease-in-out;
}

.side_menu.collapsed .menu_item_text, 
.side_menu.collapsed .title_text,
.side_menu.collapsed .btn_text {
    display: none;
    transition: all 0.3s ease-in-out;
}

.side_menu.collapsed .menu_item {
    margin: 0;
}

.side_menu.collapsed .selected_item {
    border: none;
}


/* side menu uncollapsed animation*/
.side_menu {
    transition: all 0.3s ease-in-out;
}

.menu_item_text, .title_text {
    transition: all 0.15s ease-in-out;
}

/* Module hover animation */
.module_border:hover {
    transform: translateY(-1em);
    transition: transform 1.5s ease-in-out;
}

.module_border:not(:hover) {
    transform: translateY(0px);
    transition: transform 1.5s ease-in-out;
}

.module:hover {
    opacity: 0.9;
    transition: opacity 1s ease-in-out;
}

.module:not(:hover) {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

/* messages animation */

.message {
    animation: slideIn 1s ease-out;
}

@keyframes slideIn {
    0% {
        transform: translateX(10em);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Admin control hover effect */

.admin_area .control:hover {
    transform: scale(0.9);
    border-color: #eeacf1;
}
