:root {
    --primary-color: #231B2E;
    --search_bar-color: #393243;
    --border-color: #88518B;
    --main-font: 'Poppins', sans-serif;
    --main-font-color: #fff;
    --secondary-font: 'Secular One', sans-serif;
    --secondary-font-color: #C6ABC8;
}

html {
    font-family: var(--main-font);
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

/* hover hursor pointer */

.logo, .search_icon, .theme_switcher,
.profile_avatar, .icon, .btn {
    cursor: pointer;
}

/* Header area */

header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--primary-color);
    color: var(--main-font-color);
    height: 5em;
    border-bottom: 1px solid var(--border-color);
}

/* logo */
.logo {
    margin-left: 1rem;
    font-family: var(--main-font);
    font-size: 3rem;
    font-weight: bold;
    color: var(--main-font-color);
    text-decoration: none;
}
/* logo */

/* Theme switcher */
.theme_switcher {
    display: none;
    width: 6rem;
    height: 3rem;
    border: 1px solid var(--border-color);
    border-radius: 1em;
}
/* Theme switcher */

/* Search bar */
.search_bar {
    display: flex;
    align-items: center;
    background-color: var(--search_bar-color);
    border-radius: 1rem;
    width: 30em;
    padding: 0.5rem;
    margin-left: 12rem;
}

.search_icon {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

#search_input {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    font-family: var(--secondary-font);
    color: var(--secondary-font-color);
    font-size: 1rem;
}

#search_input::placeholder {
    opacity: 50%;
    font-family: var(--secondary-font);
    font-weight: bolder;
    color: var(--secondary-font-color);
}
/* Search bar */

/* Profile */
.profile_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10em;
}

.profile_name {
    color: var(--secondary-font-color)
}

.profile_avatar{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid var(--border-color);
}
/* Profile */

/* Header area */


/* Main area */
.main_container {
    display: flex;
    color: var(--main-font-color);
    height: calc(100vh - 5em); /* main_container height = viewport height - header height */
}

/* Side menu */

.side_menu {
    background-color: var(--primary-color);
    color: var(--main-font-color);
    width: 15em;
    border-right: 1px solid var(--border-color);
}

.side_menu hr {
    margin-top: 1.5em;
    border: 0.5px solid var(--border-color);
    width: 90%;
}

/* menu title */
.menu_title_container .title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 6em;
}

.menu_title_container .btn {
    display: block;
    background-color: #fff;
    font-family: var(--main-font);
    border-radius: 0.75em;
    border: none;
    margin: 0 auto;
    margin-top: 1rem;
    width: 85%;
    height: 3em;
}

.title {
    margin-top: 1rem;
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: bold;
}

.btn-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
/* menu title */


/* menu items */
.menu_item {
    display: block;
    display: flex;
    gap: 0.5em;
    padding: 1em;
    margin-left: 5px;
    font-family: var(--main-font);
    font-size: 1rem;
    cursor: pointer;
}

.menu_item:hover {
    font-weight: bolder;
}

.selected_item {
    margin: 0;
    background-color: #393243;
    border-right: 1px solid #9B4DE0;
    border-left: 5px solid #9B4DE0;
}
/* menu items */


.main_content {
    background-color: #170F23;
    flex-grow: 1;
    padding: 1rem;
}
/* Side menu */

/* Main content */
/* .feed_settings .feed_text{
    
} */

/* Main content */

/* Main area */



/* Scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: purple;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: none;
    background-color: transparent;
}
/* Scroll bar */
