:root {
    --primary-color: #231B2E;
    --secondary-color: #393243;
    --post-color: #251B32;
    --violet-color: #CE3DF3;
    --modal-bg-color: rgba(95, 55, 233, 0.23);
    --border-color: #88518B;
    --main-font: 'Poppins', sans-serif;
    --main-font-color: #fff;
    --secondary-font: 'Secular One', sans-serif;
    --secondary-font-color: #C6ABC8;
}

html {
    font-family: var(--main-font);
    overflow-y: hidden;
    background-repeat: no-repeat;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

/* hover hursor pointer */

.logo, .search_icon, .theme_switcher,
.profile_avatar, .icon, .new_btn {
    cursor: pointer;
}

/* Header area */

header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--primary-color);
    color: var(--main-font-color);
    height: 5em;
    border-bottom: 1px solid var(--border-color);
}

/* logo */
.logo {
    margin-left: 1rem;
    font-family: var(--main-font);
    font-size: 3rem;
    font-weight: bold;
    color: var(--main-font-color);
    text-decoration: none;
}
/* logo */

/* Theme switcher */
.theme_switcher {
    display: none;
    width: 6rem;
    height: 3rem;
    border: 0.5px solid var(--border-color);
    border-radius: 1em;
}
/* Theme switcher */

/* Search bar */
.search_bar {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    width: 30em;
    padding: 0.5rem;
    margin-left: 12rem;
}

.search_icon {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

#search_input {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    font-family: var(--secondary-font);
    color: var(--secondary-font-color);
    font-size: 1.2rem;
}

#search_input::placeholder {
    opacity: 50%;
    font-size: 1rem;
    font-family: var(--secondary-font);
    font-weight: bolder;
    color: var(--secondary-font-color);
}
/* Search bar */

/* Profile */
.profile_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10em;
}

.profile_name {
    color: var(--secondary-font-color)
}

.profile_avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 0.5px solid var(--border-color);
    overflow: hidden;
}
/* Profile */

/* Header area */


/* Main area */
.main_container {
    display: flex;
    color: var(--main-font-color);
    height: calc(100vh - 5em); /* main_container height = viewport height - header height */
}

/* Side menu */

.side_menu {
    position: sticky;
    background-color: var(--primary-color);
    color: var(--main-font-color);
    width: 15em;
    border-right: 1px solid var(--border-color);
}

.side_menu hr {
    margin-top: 1.5em;
    border: 0.5px solid var(--border-color);
    width: 90%;
}

/* menu title */
.menu_title_container .title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 6em;
}

.menu_title_container .new_btn {
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    font-family: var(--main-font);
    border-radius: 0.75em;
    border: none;
    margin: 0 auto;
    margin-top: 1rem;
    width: 85%;
    height: 3em;
    transition: all 0.2s ease-in-out;
}

.new_btn:hover {
    background-color: #f5eaff;
}

.title {
    margin-top: 1rem;
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: bold;
}

.btn-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
/* menu title */


/* menu items */
.menu_item {
    display: block;
    display: flex;
    gap: 0.5em;
    padding: 1em;
    margin-left: 5px;
    font-family: var(--main-font);
    font-size: 1rem;
    cursor: pointer;
}

.menu_item:hover {
    /* font-weight: bolder; */
    background-color: #393243;
    opacity: 0.5;
}

.selected_item {
    margin: 0;
    background-color: #393243;
    border-right: 1px solid #9B4DE0;
    border-left: 5px solid #9B4DE0;
}

.selected_item:hover {
    opacity: 1;
}
/* menu items */


.main_content {
    background-color: #170F23;
    flex-grow: 1;
    padding: 1rem 2rem;
    padding-bottom: 0;
    overflow-y: scroll;
}

.main_content.disable_scroll {
    overflow-y: hidden;
}
/* Side menu */

/* Main content */
.feed_settings {
    padding: 1em;
    border-radius: 20px;
    width: 9em;
    height: 1em;
    font-weight: bold;
    font-family: var(--secondary-font);
    color: var(--secondary-font-color);
    background-color: var(--secondary-color);
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
}

.feed_settings:hover {
    color: #fff;
    opacity: 1;
}

.feed_settings .feed_text{
    display: flex;
    align-items: center;
    gap: 0.75em;
}

.feed_settings .feed_text p {
    text-align: center;
}

.posts_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 equal-width columns */
    grid-gap: 30px;
    margin-top: 2em;
}

.post {
    position: relative;
    padding: 1em;
    padding-top: 0.5em;
    width: 16em;
    max-height: 22.5em;
    background-color: var(--post-color);
    border-radius: 10px;
    border: 0.5px solid var(--border-color);
    cursor: pointer;
}

.post a {
    display: block;
}

.post .post_content {
    text-align: left;
}

.post:hover {
    border: 1px solid #d78adb;

}

.post_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
}

.post_author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.author_avatar {
    border-radius: 50px;
    contain: content;
    overflow: hidden;
    width: 2em;
    height: 2em;
}

.author_avatar img{
    width: 100%;
    height: 100%;
}

.post_author .author_name {
    font-weight: lighter;
}

.post_options {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.8em;
    height: 2em;
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
}

.post_options:hover {
    background-color: var(--secondary-color);
}

.post_options img {
    width: 1.5em;
    height: 1.5em;
}


.options_popup {
    /* display: none; */
    position: absolute;
    top: 2.5em;
    right: 1.5em;
    background-color: #191320;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    width: 10em;
    transition:  all 0.2s ease-in-out;
}

.options_popup.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.options_popup a {
    overflow: hidden;
}

.options_container .item {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    gap: 0.5em;
    width: 100%;
    font-size: 0.8em;
    text-align: left;
    padding: 0.9em 1em;
    border-radius: 5px;
}


.options_container .item:hover {
    background-color: #4b2675;
}

.post_title {
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    height: 3em;
    margin-top: 0.25em;
}

.post_title h1 {
    width: 100%;
    overflow-wrap: break-word;
}

.post_module {
    margin-top: 1em;
    padding: 0.25em 0;
    width: 100%;
    height: 1em;
    text-align: center;
    font-size: 0.75rem;
    font-weight: lighter;
    border: 0.5px solid var(--border-color);
    border-radius: 7px;
}

.post_date {
    margin-top: 1.25em;
    margin-left: 0.5em;
    color: #C6C6C6;
    font-weight: lighter;
    font-size: 0.75rem;
}

.post_thumbnail img {
    margin-top: 0.5em;
    width: 16em;
    height: 8.5em;
    border: 1px solid var(--border-color);
    border-radius: 20px;
}

.post_controls {
    color: var(--secondary-font-color);
    height: 2em;
    margin-top: 1em;
}

.post_vote {
    background-color: #332544;
    border-radius: 10px;
}

.upvote_container, .downvote_container {
    padding: 0.5em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.upvote_container {
    border-radius: 10px;
    font: inherit;
    color: inherit;
    gap: 0.25em;
    width: 3.5em;
}

.downvote_container {
    border-radius: 10px;
}

.upvote_container:hover {
    background-color: rgba(57, 229, 140, 0.2);
    color: #39E58C;
}

.downvote_container:hover {
    background-color: rgba(224, 67, 55, 0.2);
}

.post_comments {
    height: 100%;
}

.post_comments:hover {
    color: #2cdce6;
}

.post_comments_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

.post_comments_container:hover {
    border-radius: 10px;
    color: #2cdce6;
    background-color: rgba(44, 220, 230, 0.2);
}

.post_save {
    padding: 0.35em;
}

.post_save:hover {
    background-color: rgba(255, 142, 59, 0.2);
    border-radius: 10px;
}

.post_share {
    padding: 0.35em;
}

.post_share:hover {
    background-color: rgba(206, 61, 243, 0.2);
    border-radius: 10px;
}

.post_controls, .post_vote, .upvote_container, .downvote_container,
.post_comments, .post_comments_container,
.post_save, .post_share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.delete_confirmation h1 {
    margin-top: 0.5em !important;
}

.delete_confirmation a{
    margin: 0 1em !important;
}

.delete_confirmation img {
    top: -4.25em;
}

.delete_confirmation .btn_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Create post form */

.post_form {
    margin: 0 auto;
    margin-top: -1em;
    padding: 2em;
    width: 37em;
    height: 100%;
    background-color: var(--primary-color);
    border-left: 0.5px solid var(--border-color);
    border-right: 0.5px solid var(--border-color);
}

.form_group {
    margin-bottom: 2em;
}

.form_group input, 
.form_group textarea,
.form_group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: var(--secondary-color);
    color: var(--secondary-font-color);
    font-size: 1rem;
    font-family: var(--secondary-font);
    font-weight: bolder;
}


.form_group input:focus, 
.form_group textarea:focus,
.form_group select:focus {
    outline: none;
    border: none;
}

.form_title #title::placeholder, 
.form_content #content::placeholder {
    font-family: var(--secondary-font);
    color: var(--secondary-font-color);
    font-weight: bold;
    opacity: 50%;
}

.form_module #module {
    padding: 0.5em 1em;
    width: 100%;
    height: 3.5em;
    border-radius: 10px;
    cursor: pointer;
}

.form_title {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.form_title #title_char_count {
    display: inline-block;
    color: var(--secondary-font-color);
    font-family: var(--secondary-font);
    font-size: 1em;
    font-weight: bold;
}

.form_title #title {
    background-color: transparent;
    padding: 0.5em 1em;
    width: 85%;
    height: 2.5em;
    border-radius: 10px;
}

.form_thumbnail {
    width: 100%;
    height: 8em;
    border-radius: 10px;
    border: none;
    background-color: rgba(57, 50, 67, 0.42);
    cursor: pointer;
    overflow-y: scroll;
}

.form_thumbnail .thumbnail_title {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--secondary-font);
    color: var(--secondary-font-color);
    font-size: 1em;
}

.form_thumbnail #thumbnail_preview {
    display: none;
    width: 100%;
}

.form_thumbnail #thumbnail {
    display: none;
}

.form_content {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.form_content #content_char_count {
    padding-right: 1em;
    padding-bottom: 1em;
    color: var(--secondary-font-color);
    font-family: var(--secondary-font);
    font-size: 1em;
    font-weight: bold;
    text-align: right;
}

.form_content #content {
    vertical-align: top;
    border: none;
    outline: none;
    resize: none;
    padding: 1em;
    width: 95%;
    max-width: 95%;
    height: 15em;
    max-height: 15em;
    border-radius: 10px;
    background-color: transparent;
}

.post_form #submit {
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    padding: 0.5em 1em;
    width: 10em;
    height: 3em;
    background-color: var(--violet-color);
    color: #000;
    font-family: var(--main-font);
    font-size: 1em;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


/* Create post form */

/* Post content and comment section */

.post_container {
    background-color: var(--primary-color);
    border-left: 0.5px solid var(--border-color);
    border-right: 0.5px solid var(--border-color);
    margin: 0 auto;
    margin-top: -1em;
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 0;
    width: 37em;    
    min-height: 110%;
}

.post_container .author_avatar{
    height: 3em;
    width: 3em;
}

.post_container .author_name {
    font-size: 1em;
    font-weight: 600;
}


.post_container .post_date{
    margin: 0;
}

.post_container .title {
    font-size: 1.75em;
}

.post_container .thumbnail,
.post_container .content {
    margin-top: 1em;
}

.post_container .thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    contain: content;
    border-radius: 10px;
    border: 2px solid var(--border-color);
}

.post_container .thumbnail img {
    width: 100%;
    height: 100%;
}

.post_container .post_controls {
    margin-top: 1.5em;
    width: 50%;
}

.post_container .upvote_container {
    width: 2.5em;
}

.post_container .comment_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    width: 100%;
    height: 3.5em;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

.post_container .comment_input:hover {
    border: 1px solid #eea6f1;
}

.post_container .comment_input #comment {
    padding-left: 1em;
    background: transparent;
    border: none;
    width: 80%;
    height: 100%;
    color: var(--secondary-font-color);
    font-size: 1em;
}

.post_container .comment_input #comment::placeholder {
    color: var(--secondary-font-color);
    font-size: 1em;
    font-weight: bolder;
    opacity: 50%;
}

.post_container .comment_input #post_comment {
    padding: 0.5em 0.75em;
    height: 70%;
    margin-right: 1em;
    background-color: var(--primary-color);
    color: var(--secondary-font-color);
    font-size: 1em;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    cursor: pointer;
}

.post_container .comment_input #post_comment:hover {
    background-color: var(--secondary-color);
}

.comment_section .thumbnail_container {
    overflow: hidden;
    contain: content;
    width: 2em;
    height: 2em;
    border-radius: 30px;
}

.comment_section {
    padding: 2em 0;
}

.comment_section .comment {
    margin-bottom: 1.5em;
}

.comment_section .comment_header,
.comment_section .comment_username,
.comment_wraper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
}

.comment_section .thumbnail_container img {
    width: 100%;
    height: 100%;
}

.comment_username {
    font-size: 0.8em;
    font-weight: bold;
}

.comment_date {
    font-size: 0.8em;
    color: #C6C6C6;
}

.branch_line_container {
    width: 2em;
    height: 100%;
}

.comment_main_container {
    width: 100%;
}

.comment_content {
    padding: 0.5em 0;
}

.comment_control, .comment_vote {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.comment_vote .upvote_container {
    margin-left: -1em;
    width: 3em;
    gap: 0.5em;
    color: var(--secondary-font-color);
}


.comment_empty {
    text-align: center;
}

.post_container .upvote_container,
.post_container .downvote_container,
.post_container .post_comments_container,
.post_container .post_save,
.post_container .post_share {
    cursor: pointer;
}

.back_btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25em;
    padding: 1em;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    font-weight: bold;
    font-family: var(--secondary-font);
    color: var(--secondary-font-color);
    background-color: var(--secondary-color);
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.back_btn:hover {
    color: #fff;
    opacity: 1;
}

/* Post content and comment section */

.profile_display_container {
    background-color: var(--primary-color);
    border-left: 0.5px solid var(--border-color);
    border-right: 0.5px solid var(--border-color);
    margin: 0 auto;
    margin-top: -1em;
    padding: 2em;
    padding-top: 1em;
    width: 37em;    
    height: 100%;
}

/* module listing */

.main_nav_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.main_nav_container .back_btn,
.main_nav_container .feed_settings {
    position: relative ; 
}

.modules_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 equal-width columns */
    grid-gap: 2em;
    margin-top: 2em;
}

.module_border {
    display: flex;
    align-items: flex-end;
    padding: 0.1em;
    border-radius: 20px;
    width: 20em;
    height: 22em;
}

.module {
    position: relative;
    display: block;
    text-align: left;
    padding: 1em;
    background-color: var(--post-color);
    width: 90%;
    height: 75%;
    border-radius: inherit;
}

.module .teacher,
.module .posts_count {
    margin-bottom: 1em;
    color: var(--secondary-font-color);
}

.module .title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}


.module .posts_count {
    font-weight: 100;
    font-size: 1em;
}

.module .description {
    font-size: 1em;
    font-family: var(--secondary-font);
    color: var(--secondary-font-color);
}

.module_view {
    position: absolute;
    display: block;
    margin: 0 auto;
    bottom: 1em;
    width: 90%;
    height: 3em;
    background-color: transparent;
    border-radius: 15px;
    color: #fff;
    font-size: 1em;
    font-weight: bolder;
    border: 1px solid #fff;
    cursor: pointer;
}

/* module listing */

/* Email form */
#contact_email_container {
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 60em;
    height: 105%;
}

#contact_email_container  form {
    padding:0 2em;
    width: 70%;
    height: inherit;
}


#contact_email .form_title {
    background-color: transparent;
    height: 2em;
    margin: 2em 0;
    margin-top: 1em;
    border-bottom: 1px solid var(--border-color);
    border-radius: 0;
    font-weight: bolder;
    font-size: 1.1em;
    font-family: var(--main-font);
}

#email_title, #email_content{
    padding: 1em;
    margin: 0;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}

#email_title::placeholder,
#email_content::placeholder {
    color: var(--secondary-font-color);
    opacity: 0.5;
}

#email_title {
    height: 3em;
}

#email_content {
    resize: none;
    border: none;
    height: 10em;
}

#contact_email #submit{
    margin: 0 auto;
    transition: opacity 0.3s ease-in-out;
}

#contact_email #submit:hover {
    opacity: 0.75;
}

.messages_container {
    width: 30%;
    height: 100%;
    border-left: 1px solid var(--border-color);
}

.messages_container .title {
    font-size: 1.1em;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 1em 0;
    border-bottom: 1px solid var(--border-color);
}

.messages {
    margin: 0 auto;
    margin-top: 2em;
    padding-top: 0.5em;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.messages .message {
    width: 70%;
    height: 1.75em;
    padding: 0.8em;
    margin: 0 auto;
    margin-bottom: 1em;
    font-weight: bolder;
    background-color: var(--secondary-color);
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.messages .message:hover {
    opacity: 0.75;
}

.message_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.25em;
}

.message_status.unread {
    color: rgb(194, 165, 36);
    font-size: 0.9em;
    font-weight: 100;
}

.message_status.read {
    color: rgb(39, 197, 34);
    font-size: 0.8em;
    font-weight: 100;
}

.message_date {
    opacity: 0.6;
    font-size: 0.75em;
    font-weight: 300;
}

/* Email form */

/* Main content */
/* Main area */

/* Modal */
.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--modal-bg-color);
    cursor: default;
}

.modal .pop_up {
    display: block;
    margin: 0 auto;
    padding: 1em;
    width: 20em;
    height: 7em;
    color: #fff;
    font-family: var(--secondary-font);
    font-size: 1.25em;
    font-weight: bolder;
    background-color: #170F23;
    border: 1px solid var(--border-color);
    border-radius: 15px;
}

.modal .pop_up h1 {
    margin-top: 1em;
    text-align: center;
    font-weight: bolder;
}

.modal .pop_up p {
    color: var(--secondary-font-color);
    font-size: 0.8em;
    margin-top: 1em;
    text-align: center;
    padding: 0 1em;
}

.modal .pop_up img {
    position: relative;
    top: -4em;
    left: 19.3em;
    cursor: pointer;
}

.modal .pop_up input {
    border: none;
    
}

.modal .pop_up a, .modal .pop_up input {
    margin: 0 auto;
    padding: 0.5em;
    width: 6em;
    height: 2em;
    font-size: 0.8em;
    font-weight: bold;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    justify-content: center;
    cursor: pointer;
}

/* Modal */


/* Scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #88518B;
    border-radius: 10px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #e989ee;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: none;
    background-color: transparent;
}
/* Scroll bar */
